@import "_helpers.scss", "_bulma.scss", "_variables.scss", "_typography.scss",
  "_buttons.scss";

@import url("https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css");
body {
  background: $bodyBackgrond;
}

.container {
  max-width: 1000px;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
}

.titleunderline {
  display: inline-block;
  width: 70px;
  height: 4px;
  border-radius: 20px;
  background-color: #3884ff;

  &.is-large {
    width: 90px;
    height: 12px;
  }

  &.is-medium {
    width: 70px;
    height: 8px;
  }
}

.avatar-wrapper {
  display: inline;
  float: right;
  margin-right: 0 !important;
  padding-right: 0 !important;
  max-width: 60px;
  height: 67px;
}
