@import "_helpers.scss", "_bulma.scss", "_variables.scss", "_typography.scss",
  "_buttons.scss";

body {
  background: $bodyBackgrond;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
}

.titleunderline {
  display: inline-block;
  width: 70px;
  height: 4px;
  border-radius: 20px;
  background-color: #3884ff;

  &.is-large {
    width: 90px;
    height: 12px;
  }

  &.is-medium {
    width: 70px;
    height: 8px;
  }
}
